{% extends 'base.html' %}
{% block content %}

 <h2>Lista de Aluno</h2>
 <a href="#">Cadastrar Novo aluno</a>
 <table>
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Ações</th>
    </thead>
    <tbody>
        {% for a in alunos %}
         <tr>
            <td>{{a.nome}}</td>
            <td>{{a.email}}</td>
            <td><a href="#"></a>
            <a href="#">Excluir</a>
            </td>
         </tr>
         {% endfor %}      
    </tbody>
 </table>
{% endblock %}
